.secao-login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 300px;
    background-color: gray;
    padding: 1.5rem;
    margin: 0 15px;
    border-radius: 20px;
}

.login h1{
    font-size: 30px;
    background-color: gray;
}

.login input {
    width: 100%;
    height: 3rem;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
}

.acessar {
    cursor: pointer;
}

.login a {
    background-color: gray;
}

.acessar:hover {
    background-color: rgb(55, 51, 51);
    color: #fff;
}