.score {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        width: 50%;
        max-width: 1250px;
        height: 50%;
        background-color: gray;
        padding: 1.5rem;
        margin: auto;
        transform: translate(0, 20%);
        border-radius: 20px;
}

.score h1 {
    text-align: center;
}

.card-score {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}

.card-score p {
    width: 100%;
    height: 3rem;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-weight: 600;
}

.botao-inicio {
    width: 200px;
    padding: 10px;
    background-color: gray;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

